header{
    width: 100%;
    height: 50px;
    position: fixed;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    z-index: 10;
    background-color: var(--back2);
}

#container{
    width: 86%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
#container > div{
    display: flex;
    align-items: center;
}

img{
    width: 35px;
    height: auto;
}
button{
    padding: 0px 20px;
}
fa-icon{
    font-size: 1.75rem;
    color: var(--font2);
    position: relative;
}
img:hover, fa-icon:hover{
    color: var(--font);
    scale: 1.2;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
#container-mobile{
    display: none;
}

@media (max-width: 640px) {
    #container-mobile{
        display: block;
    }
    #container{
        display: none;
    }
    header{
        top:auto;
        bottom: 0;
        padding: 5px 0;
        border-radius: 20px 20px 0 0;
    }
    #container-mobile{
        width: 92%;
        height: 100%;
        border-radius: 20px;
        background-color: var(--back2);
    }
    img{
        width: 45px;
        height: 45px;
        padding: 0;
    }
    nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}