<header>
    <div id="container">
        <div>
            <img src="assets/platzi-icon.svg" routerLink="/" alt="Logo de Platzi">
        </div>
        <div>
            <nav>
            <!-- TODO: implementar iconos para ver perfil y favoritos -->
                <fa-icon routerLink="/search/0" [icon]="search" />
                <fa-icon routerLink="/cart" [icon]="cart" />
                @if(isLoggedIn()){
                    <button class="button" routerLink="/login">Login</button>
                }
            </nav>
        </div>
    </div>
    <div id="container-mobile">
            <nav>
                <img src="assets/platzi-icon.svg" routerLink="/" alt="Logo de Platzi">
                <fa-icon routerLink="/search/0" [icon]="search" />
                <fa-icon routerLink="/cart" [icon]="cart" />
                @if(isLoggedIn()){
                    <fa-icon routerLink="/login" [icon]="user" />
                }
            </nav>
    </div>
</header>