<header>
    <div id="container">
        <div>
            <img src="assets/platzi-icon.svg" routerLink="/" alt="Logo de Platzi">
        </div>
        <div>
            <nav>
                <fa-icon routerLink="/search" [icon]="search" />
                <fa-icon [icon]="heart" />
                <fa-icon routerLink="/cart" [icon]="cart" />
                <fa-icon routerLink="/profile" [icon]="user" />
            </nav>
        </div>
    </div>
    <div id="container-mobile">
            <nav>
                <fa-icon routerLink="/search" [icon]="search" />
                <fa-icon [icon]="heart" />
                <img src="assets/platzi-icon.svg" routerLink="/" alt="Logo de Platzi">
                <fa-icon routerLink="/cart" [icon]="cart" />
                <fa-icon routerLink="/profile" [icon]="user" />
            </nav>
    </div>
</header>