<main>
    <img src="/assets/img/bannerSignUp.webp" alt="sign up image">
    <div id="container">
        <h1>SIGN UP</h1>
        <form>
            <span id="error-span" *ngIf='error'>Oops, something went wrong</span>
            <span id="success-span" *ngIf='success'>Welcome,user created successfully, please log in</span>

            <div class="inputs">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" [(ngModel)]="newUser.name" required>
            </div>

            <div class="inputs">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="newUser.email" required>
                <p *ngIf="emailError">This email is already in use</p>
            </div>

            <div id="passwords">
                <div class="inputs">
                    <label for="password">Password</label>
                    <input type="password" class="password" name="password" [(ngModel)]="password" required>
                </div>
                <div class="inputs">
                    <label for="conf_password">Confirm Password</label>
                    <input type="password" class="password" name="conf_password" [(ngModel)]="conf_password" required>
                </div>

            </div>

            <button class="button" type="submit" (click)="register(this.newUser)" >Sign Up</button>

            <p>Already have an account? <a routerLink="/login">Sign In</a></p>
        </form>
    </div>
</main>