main{
    height: 100dvh;
    width: 86%;
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

#container{
    background-color: var(--font);
    color: var(--back1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    top: auto;
    bottom: -100px;
}

h1{
    margin-top: 0px;
    margin-bottom:20px;
    font-size: 2.5rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    gap:25px
}
.inputs{
    display: flex;
    flex-direction: column;
    position: relative;
}

label{
    font-size: 0.75rem;
    position: absolute;
    left: 10px;
    top:4px;
}

input{
    height: 50px;
    width: 360px;
    border-radius: 8px;
    padding:5px 10px 0;
    border:1px solid var(--back1)
}

button{
    height: 40px;
    width: 150px;
}

p{
    font-size: 0.75rem;
    margin: 0;
}

a{
    font-size: 0.8rem;
}

a:hover{
    text-decoration: underline;
}

#passwords{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
.password{
    width: 160px;
}


@media (max-width:1024px) {
    main{
        justify-content: center;
    }
    img{
        display: none;
    }
    #container{
        margin: 0;
        width: auto;
        position:static;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding:40px 5px;
    }
    form{
        gap:10px;
    }
    input, .password{
        width: 250px;
        height: 40px;
    }
    #passwords{
        grid-template-columns: 1fr;
        gap:10px
    }
    h1{
        margin-bottom: 0;
    }
}