<main>
    <div id="hero">
        <img id="img-hero" src="\assets\img\QkIa5tT.jpeg" alt="">
        <div id="text-hero">
            <h1>THE BEST TECHNOLOGY STORE</h1>
            <p>Find the best products at the best price</p>
            <button class="button" routerLink="/search/0">View Products</button>
        </div>
    </div>
    
    <div id="products">
        <h1>FEATURED PRODUCTS</h1>
        <div id="container-cards">
            @for (product of products; track product.id) {
                <app-product-card 
                    class="card"
                    [imageUrl]="product.images[0]"
                    [title]="product.title"
                    [description]="product.description"
                    [price]="'$' + product.price">
                </app-product-card>
            }@empty {
               <p>No products found</p> 
            }
        </div>
    </div>
    
    <div id="categories">
        <h1>CATEGORIES</h1>
        <div id="container-categories">
            @for (category of categories; track category.id){
                <div class="card-categories" [routerLink]="'/search/' +category.id">
                    <img [src]="category.image" [alt]="category.name + ' category image'" [title]="category.name + ' category image'">
                    <div class="category-overlay">
                        <h2>{{category.name}}</h2>
                    </div>
                </div>
            }@empty {
                <p>No categories found</p>
            }
        </div>
    </div>
</main>